*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    border-color: #fff;
    color: #000;
    position: relative;
    z-index: 0;
    background: #d4e8fa;
}

h1,h2,h3,h4{
    font-weight: 500;
}


a{
  text-decoration: none;  
}

img{
    max-width: 100%;
}

li{
    list-style: none;
}

.container{
    max-width: 114rem;
    margin: 0 auto;
}

@media only screen and (max-width: 1200px){
    .container{
       padding: 0 3rem; 
    }
}

/* Header */
.header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: lightskyblue;
    z-index: 1;
}
.header img{
    position: absolute;
    right: 5%;
    bottom: 0;
    width: 36rem;
    z-index: -1;
}

@media only screen and (max-width: 996px){
    .header{
        min-height: 60vh;
    }

    .header img{
        width: 30rem;
    }
}

@media only screen and (max-width: 768px){
    .header img{
        width: 28rem;
    }
}

@media only screen and (max-width: 567px){
    .header{
        min-height: 100vh;
    }

    .header img{
        width: 25rem;
    }
}

.nav{
   padding: 1.6rem 0;
   color: #fff; 
}

.nav.fix-nav{
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    background-color: rgb(0, 168, 224);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    z-index: 999;
}


.top-nav{
    display: none;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1{
    font-size: 2.5rem;
    color:#fff;
}
.logo h1 span{
    font-weight: bold;
    color: rgb(2, 2, 97);
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-item:not(:last-child){
    margin-right: 0.5rem;
}


.nav-link:link,
.nav-link:visited{
  color: #fff;
  padding: 0.8rem 1rem;
  transition: all 300ms ease-in-out;
}

.nav-link:hover{
    border-radius: 0.3rem;
    background-color:rgb(0, 168, 224) ;
}
.hamburger{
    display: none;
}

@media only screen and (max-width: 768px){
    .menu{
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        height: 100%;
        max-width: 40rem;
        background-color: #fff;
        transition: all 500ms ease-in-out;
        z-index: 100;
    }

    .menu.show{
        left: 0;
    }

    .top-nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color:rgb(0, 168, 224);
      padding: 1rem 1.6rem;  
    }

    .top-nav .close{
        color: #fff;
        font-size: 2.3rem;
        padding: 1rem;
        cursor: pointer;
    }

    .hamburger{
        display: block;
        color: #fff;
        font-size: 2.3rem;
        padding: 0.5rem;
        cursor: pointer;
    }

.nav-link:link,
.nav-link:visited{
    display: block;
    font-size: 1.7rem;
    color: rgb(0, 0, 0);
    padding: 1rem 0;
    }

    .nav-list{
        flex-direction: column;
        align-items: start;
        padding: 1rem 1.6rem;
    }

    body.show::before{
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: rgba(35,156,248,0.8);
       z-index: 1;
    }

    .nav.show{
       background-color: rgba(35, 156, 248, 0.8); 
    }
}


/* Awal */
.awal{
    position: absolute;
    top: 50%;
    transform: translate(25%, -50%);
    color: #fff;
}

.awal h3{
    font-weight: 400;
}

.awal h1{
    font-size: 4.5rem;
    color: rgb(1, 75, 100);
}

.awal h4{
    font-size: 2rem;
}

.awal h4 span{
    color:rgb(1, 75, 100);
    text-decoration:none;
}

.awal a:link,
.awal a:visited{
    display: inline-block;
    padding: 0.8rem 2.5rem;
    border: 1px solid rgb(0, 168, 224);
    background-color: rgb(0, 168, 224);
    color: #fff;
    margin-top: 2rem;
}

.awal a:hover{
    background-color: transparent;
}

@media only screen and (max-width: 996px){
    .awal{
        transform: translate(10%, -50%);
    }
    .awal{
        top: 40%;
       }
   
       .awal h3{
           font-size: 2.2rem;
       }
   
       .awal h1{
           font-size: 3.2rem;
       }
   
       .awal h4{
           font-size: 1.8rem;
       }
}

@media only screen and (max-width: 768px){
    .awal{
        top: 35%;
       }
   
       .awal h3{
           font-size: 1.5rem;
       }
   
       .awal h1{
           font-size: 2rem;
       }
   
       .awal h4{
           font-size: 1.5rem;
       }
}

@media only screen and (max-width: 567px){
    .awal{
     top: 35%;
    }

    .awal h3{
        font-size: 1.6rem;
    }

    .awal h1{
        font-size: 2rem;
    }

    .awal h4{
        font-size: 1.2rem;
    }
}

.sosmed{
    position: absolute;
    bottom: 5%;
    left: 10%;
    color: #fff;
}

.sosmed span:not(:last-child){
    margin-right: 1rem;
}

.sosmed span{
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.sosmed span:hover{
    color: rgb(1, 75, 100);
}

@media only screen and (max-width: 567px){
    .sosmed{
        display: none;
    }
}


/* Profile */
.section{
    padding: 5rem 0 7rem 0;
    overflow-x: hidden;
}

.profile{
    margin-top: 5rem;
}

.title{
    margin: 4rem 0 7rem 0;
    text-align: center;
}

.title h1{
    font-size: 3rem;
    display: inline-block;
    position: relative;
    z-index: 0;
}

.title h1::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 168, 224);
    width: 50%;
    height: 0.4rem;
    z-index: 1;
}

.profile-center{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 3rem 5rem;
}

.left img{
    height: 30rem;
}

.right h1{
    margin-bottom: 2rem;
}

.right p{
    line-height: 2;
    margin-bottom: 2rem;
    color: #333;
}


.right h1 span{
    color:rgb(1, 75, 100) ;
}

a.btn{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: rgb(0, 168, 224);
    color: #fff;
    border-radius: 0.5rem;
    border: 2px solid rgb(0, 168, 224);
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    transition: all 300ms ease-out;
}

a.btn:hover{
    transform: translateY(-3px);
    color: #fff;
}

a.btn:active{
    transform: translateY(0);
}

@media only screen and (max-width: 996px){
    .right h1{
        font-size: 2rem;
    }

    .right p{
        font-size: 1.5rem;
    }

    a.btn{
        padding: 0.7rem 1.8rem;
    }

    .left img{
        height: 20rem;
        max-width: 25rem;
    }
}


@media only screen and (max-width: 768px){
    .profile-center{
        grid-template-columns: 1fr;
        gap: 3rem 0;
    }

    .left{
       text-align: center; 
    }

    .left img{
        height: 40rem;
        max-width: 90%;
    }
}


@media only screen and (max-width: 567px){
    .left img{
        height: 20rem;
    }
}

/* Staff */
.theme{
    background-image: url(./images/batikk.jpg);
}
.staff{
    color: #fff;
    padding: 3rem;
    text-align: center;
    transition: all 300ms ease-in-out;
}
.staff.img-cover{
    overflow: hidden;
    height: 3rem;
    width: 3rem;
    margin: 0 auto;
    transition: all 300ms ease-in-out;
}

.staff .img-cover img{
    height: 60%;
    object-fit: cover;
}

.staff h3{
    font-size: 1.6rem;
    margin: 1rem 0;
    color: #000;
}

.staff p{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    width: 80%;
    margin: 0 auto 1rem auto;
}

.staff:hover{
    border-bottom: 4px transparent;

}
.img-cover img{
    width: 60%;
}

/* Galery */
.img-gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.img-gallery img{
    width: 100%;
    cursor: pointer;
}
.img-gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(38, 0, 255, 0.2);
}
.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    display: none;
    align-items:center;
    justify-content: center;
    z-index: 100;
}
.full-img img{
    width: 90%;
    max-width: 500px;
}
.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.img-gallery a{
    font-size: 15px;
}

/* Contact */
#contact {
    background-color: lightskyblue;
}

.contact-info{
    padding: 0.5rem;
}
.single-contact{
    padding: 1rem;
    margin: 1rem;
    display:inline;
    text-align: center;
}
.single-contact span{
    font-size: 2rem;
    color:rgb(0, 168, 224);
}
input[type = "text"], textarea{
    width: 100%;
    font-size: 0.95rem;
    font-family: inherit;
    font-weight: 500;
    padding: 0.7rem;
    border: none;
    background: #ffffff;
    margin: 0.6rem 0;
    border-radius: 3px;
}
input[type="text"]::placeholder{
    color:#9c9c9c;
    opacity: 0.6;
}
textarea::placeholder{
    color:#9c9c9c;
    opacity: 0.6;
}
.form-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:1rem;
}
.btn-form{
    background: rgb(52, 172, 247);
    border: none;
    color: white;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin: 1.5rem auto;
}   

.single-contact .contact {
    /* color: white; */
}